In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import os
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pymongo
import re
import time

In [2]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
# Define database and collection
db = client.NavySchedule_db
collection = db.items

In [4]:
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36'}
res = requests.get('https://navysports.com/schedule.aspx?path=wlax', headers=headers)
soup = bs(res.content, 'html.parser')
soup.find_all('span', class_='sidearm-schedule-game-opponent-name')

[<span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#16 Virginia on February 9 1:00 p.m." href="http://virginiasports.com/" target="_blank">#16 Virginia</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Saint Joseph's on February 17 1:00 p.m." href="http://www.sjuhawks.com/" target="_blank">Saint Joseph's</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#19 Towson on February 23 3:00 p.m." href="http://www.towsontigers.com/" target="_blank">#19 Towson</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Villanova on February 27 3:00 p.m." href="http://www.villanova.com/" target="_blank">Villanova</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#11 Florida on March 2 11:00 a.m." href="http://www.floridagators.com/" target="_blank">#11 Florida</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#1 Boston College on March 6 7:00 p.m." href="http://bceagles.com/" target="_blank">#1 Boston College</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Brown on March 9 12:00 p.m." href="http://brownbears.com" target="_blank">Brown</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Colgate on March 16 12:00 p.m." href="http://gocolgateraiders.com" target="_blank">Colgate</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Bucknell on March 23 3:00 p.m." href="http://www.bucknellbison.com/" target="_blank">Bucknell</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Lehigh on March 27 5:00 p.m." href="http://www.lehighsports.com" target="_blank">Lehigh</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Holy Cross on March 30 12:00 p.m." href="http://goholycross.com" target="_blank">Holy Cross</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#11 Loyola on April 6 3:00 p.m." href="http://www.loyolagreyhounds.com" target="_blank">#11 Loyola</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#23 Georgetown on April 10 7:00 p.m." href="http://www.guhoyas.com/" target="_blank">#23 Georgetown</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Army West Point on April 13 1:00 p.m." href="http://goarmywestpoint.com/" target="_blank">Army West Point</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="American on April 17 5:00 p.m." href="http://www.aueagles.com/" target="_blank">American</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Lafayette on April 20 1:00 p.m." href="http://www.goleopards.com/" target="_blank">Lafayette</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Boston University on April 25 4:00 p.m." href="http://www.goterriers.com/" target="_blank">Boston University</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Army West Point on May 2 8:00 p.m." href="http://goarmywestpoint.com/" target="_blank">Army West Point</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#11 Loyola on May 4 12:00 p.m." href="http://www.loyolagreyhounds.com" target="_blank">#11 Loyola</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#24 High Point on May 10 7:00 p.m." href="http://www.highpointpanthers.com" target="_blank">#24 High Point</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#6 Virginia on May 12 12:00 p.m." href="http://virginiasports.com/" target="_blank">#6 Virginia</a>
 </span>]

In [5]:
# Examine the results, then determine element that contains sought info
# results are returned as an iterable list
results = soup.find_all('span', class_='sidearm-schedule-game-opponent-name')

opponent = []

# Loop over td elements
for result in results:
            stuff = (result.a.text)
            clean_stuff= re.sub("\d", "",stuff)
            clean_stuff= re.sub("# ", "",clean_stuff)
            opponent.append(clean_stuff)

print(opponent)

['Virginia', "Saint Joseph's", 'Towson', 'Villanova', 'Florida', 'Boston College', 'Brown', 'Colgate', 'Bucknell', 'Lehigh', 'Holy Cross', 'Loyola', 'Georgetown', 'Army West Point', 'American', 'Lafayette', 'Boston University', 'Army West Point', 'Loyola', 'High Point', 'Virginia']

In [6]:
results2 = soup.find_all('span', class_='sidearm-schedule-game-conference-vs flex flex-inline')                                
  
home_away = []

# Loop over elements
for result2 in results2:
    if (result2.text):
            stuff = (result2.text)
            clean_stuff= re.sub("\n", "",stuff)
            home_away.append(clean_stuff)
            
print(home_away)

['at', 'vs', 'vs', 'at', 'vs', 'vs', 'vs', 'at', 'vs', 'at', 'vs', 'at', 'at', 'vs', 'vs', 'vs', 'at', 'vs', 'at', 'vs', 'at']

In [7]:
from datetime import datetime

results3 = soup.find_all('div', class_='sidearm-schedule-game-opponent-date flex-item-1')

period = []
day = []


# Loop over elements
for result3 in results3:
            stuff = ((result3.span.text)[0:3])
            clean_stuff = datetime.strptime(stuff,'%b')
            clean_stuff = clean_stuff.strftime('%m')
            period.append(clean_stuff)
            


            date_day = ((result3.span.text)[4:6])
            date_day = re.sub(" ", "",date_day)
            if len(date_day) == 1:
                date_day = "0" + date_day
            else:
                date_day = date_day
            day.append(date_day)   
            
print(period)          
print(day)

['02', '02', '02', '02', '03', '03', '03', '03', '03', '03', '03', '04', '04', '04', '04', '04', '04', '05', '05', '05', '05']
['09', '17', '23', '27', '02', '06', '09', '16', '23', '27', '30', '06', '10', '13', '17', '20', '25', '02', '04', '10', '12']

In [8]:
import numpy as np
url_list = pd.DataFrame(np.column_stack([opponent,home_away,period,day]), columns=['key','Home_Away','Period','Day'])
url_list

                  key Home_Away Period Day
0            Virginia        at     02  09
1      Saint Joseph's        vs     02  17
2              Towson        vs     02  23
3           Villanova        at     02  27
4             Florida        vs     03  02
5      Boston College        vs     03  06
6               Brown        vs     03  09
7             Colgate        at     03  16
8            Bucknell        vs     03  23
9              Lehigh        at     03  27
10         Holy Cross        vs     03  30
11             Loyola        at     04  06
12         Georgetown        at     04  10
13    Army West Point        vs     04  13
14           American        vs     04  17
15          Lafayette        vs     04  20
16  Boston University        at     04  25
17    Army West Point        vs     05  02
18             Loyola        at     05  04
19         High Point        vs     05  10
20           Virginia        at     05  12

In [9]:
# The path to our CSV file
file = "SystemSchool.csv"

# Read our Kickstarter data into pandas
df = pd.read_csv(file)
df.head()

              key CONFERENCE      SystemName
0        Maryland    Big Ten        maryland
1  Boston College        ACC  boston-college
2  North Carolina        ACC  north-carolina
3    Northwestern    Big Ten    northwestern
4        Syracuse        ACC        syracuse

In [10]:
new_df = url_list.set_index('key').join(df.set_index('key'))

new_df = new_df.reset_index()

new_df = new_df.rename_axis("game_id")

new_df

                       key Home_Away Period Day   CONFERENCE       SystemName
game_id
0                 American        vs     04  17      Patriot         american
1          Army West Point        vs     04  13      Patriot             army
2          Army West Point        vs     05  02      Patriot             army
3           Boston College        vs     03  06          ACC   boston-college
4        Boston University        at     04  25      Patriot         boston-u
5                    Brown        vs     03  09   Ivy League            brown
6                 Bucknell        vs     03  23      Patriot         bucknell
7                  Colgate        at     03  16      Patriot          colgate
8                  Florida        vs     03  02          AAC          florida
9               Georgetown        at     04  10     Big East       georgetown
10              High Point        vs     05  10    Big South       high-point
11              Holy Cross        vs     03  30      Patriot       holy-cross
12               Lafayette        vs     04  20      Patriot        lafayette
13                  Lehigh        at     03  27      Patriot           lehigh
14                  Loyola        at     04  06      Patriot  loyola-maryland
15                  Loyola        at     05  04      Patriot  loyola-maryland
16          Saint Joseph's        vs     02  17  Atlantic 10    saint-josephs
17                  Towson        vs     02  23          CAA           towson
18               Villanova        at     02  27     Big East        villanova
19                Virginia        at     02  09          ACC         virginia
20                Virginia        at     05  12          ACC         virginia

In [11]:
base = 'https://www.ncaa.com/game/lacrosse-women/d1/2019/'
p = '/play-by-play'
np = '-navy/play-by-play'

url_dict = []
    
for index, row in new_df.iterrows():
    if row['Home_Away'] == 'at':
        url = base + row['Period'] + '/' + row['Day'] + '/navy-' +  row['SystemName'] + p
        url_dict.append(url)
    else:
        url = base + row['Period'] + '/' + row['Day'] + '/' +  row['SystemName'] + np
        url_dict.append(url)

url_df = pd.DataFrame({"url_list": url_dict})
url_df




box_p = '/boxscore'
box_np = '-navy/boxscore'

box_url_dict = []
    
for index, row in new_df.iterrows():
    if row['Home_Away'] == 'at':
        url = base + row['Period'] + '/' + row['Day'] + '/navy-' +  row['SystemName'] + box_p
        box_url_dict.append(url)
    else:
        url = base + row['Period'] + '/' + row['Day'] + '/' +  row['SystemName'] + box_np
        box_url_dict.append(url)

box_url_df = pd.DataFrame({"url_list": box_url_dict})
box_url_df

                                             url_list
0   https://www.ncaa.com/game/lacrosse-women/d1/20...
1   https://www.ncaa.com/game/lacrosse-women/d1/20...
2   https://www.ncaa.com/game/lacrosse-women/d1/20...
3   https://www.ncaa.com/game/lacrosse-women/d1/20...
4   https://www.ncaa.com/game/lacrosse-women/d1/20...
5   https://www.ncaa.com/game/lacrosse-women/d1/20...
6   https://www.ncaa.com/game/lacrosse-women/d1/20...
7   https://www.ncaa.com/game/lacrosse-women/d1/20...
8   https://www.ncaa.com/game/lacrosse-women/d1/20...
9   https://www.ncaa.com/game/lacrosse-women/d1/20...
10  https://www.ncaa.com/game/lacrosse-women/d1/20...
11  https://www.ncaa.com/game/lacrosse-women/d1/20...
12  https://www.ncaa.com/game/lacrosse-women/d1/20...
13  https://www.ncaa.com/game/lacrosse-women/d1/20...
14  https://www.ncaa.com/game/lacrosse-women/d1/20...
15  https://www.ncaa.com/game/lacrosse-women/d1/20...
16  https://www.ncaa.com/game/lacrosse-women/d1/20...
17  https://www.ncaa.com/game/lacrosse-women/d1/20...
18  https://www.ncaa.com/game/lacrosse-women/d1/20...
19  https://www.ncaa.com/game/lacrosse-women/d1/20...
20  https://www.ncaa.com/game/lacrosse-women/d1/20...

In [12]:
#import mysql.connector
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

engine = create_engine('sqlite:///urldb', echo=False)
url_df.to_sql(name='sample_table2', con=engine, if_exists = 'replace', index=False)

In [13]:
session = Session(engine)
test = session.execute("select * from sample_table2")

result_proxy = test.fetchall()

#create list of urls
game_urls = []



for row in result_proxy:
    game_url = dict(row.items())
    print(game_url)
    game_urls.append(game_url["url_list"])

{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/17/american-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/13/army-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/05/02/army-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/06/boston-college-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/25/navy-boston-u/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/09/brown-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/23/bucknell-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/16/navy-colgate/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/02/florida-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/10/navy-georgetown/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/05/10/high-point-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/30/holy-cross-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/20/lafayette-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/27/navy-lehigh/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/06/navy-loyola-maryland/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/05/04/navy-loyola-maryland/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/02/17/saint-josephs-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/02/23/towson-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/02/27/navy-villanova/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/02/09/navy-virginia/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/05/12/navy-virginia/play-by-play'}

In [14]:
#import mysql.connector
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

engine = create_engine('sqlite:///urldb', echo=False)
box_url_df.to_sql(name='sample_table3', con=engine, if_exists = 'replace', index=False)

In [15]:

session = Session(engine)
test = session.execute("select * from sample_table3")

result_proxy = test.fetchall()

#create list of urls
box_game_urls = []



for row in result_proxy:
    box_game_url = dict(row.items())
    print(box_game_url)
    box_game_urls.append(box_game_url["url_list"])

{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/17/american-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/13/army-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/05/02/army-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/06/boston-college-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/25/navy-boston-u/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/09/brown-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/23/bucknell-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/16/navy-colgate/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/02/florida-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/10/navy-georgetown/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/05/10/high-point-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/30/holy-cross-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/20/lafayette-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/27/navy-lehigh/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/06/navy-loyola-maryland/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/05/04/navy-loyola-maryland/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/02/17/saint-josephs-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/02/23/towson-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/02/27/navy-villanova/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/02/09/navy-virginia/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/05/12/navy-virginia/boxscore'}

In [16]:
## Now time for the web scraping of the box scores and play by play

In [17]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [18]:
print("Number of box score urls")
print(len(box_game_urls))
print("Number of play by play urls")
print(len(game_urls))

Number of box score urls
21
Number of play by play urls
21

In [19]:
game_id = 0

season_stats_df = pd.DataFrame(columns=['No', 'Name', 'POS', 'G', 'A', 'SH', 'SOG', 'GB','game_id', 'team'])
season_goalies_stats_df = pd.DataFrame(columns=['Goalies', 'POS', 'MIN', 'SAVES', 'GA', 'game_id', 'team'])
# Go to NCAA Boxscore through splinter module

for i in range(len(box_game_urls)):
        try:
            score_url = box_game_urls[i]
            browser.visit(score_url)

            html = browser.html
            soup = BeautifulSoup(html, 'lxml')
        
        
            away_tables = pd.read_html(html)
            away_team_selector = soup.find("div", {"class": "boxscore-team-selector-team awayTeam-bg-primary_color homeTeam-border-primary_color away active"})
            away_box_table = away_tables[1]
            away_goalies_box_table = away_tables[2]
            away_box_table['game_id'] = game_id
            away_box_table['team'] = away_team_selector.text
            away_goalies_box_table['game_id'] = game_id
            away_goalies_box_table['team'] = away_team_selector.text
        
        
            team_selectors = soup.find("div", {"class": "boxscore-team-selector"})
            xpath = '//div[@class="boxscore-team-selector-team homeTeam-bg-primary_color awayTeam-border-primary_color home"]'
            browser.find_by_xpath(xpath).click()
            html = browser.html
        
            home_tables = pd.read_html(html)
            home_team_selector = soup.find("div", {"class": "boxscore-team-selector-team homeTeam-bg-primary_color awayTeam-border-primary_color home"})
            home_box_table = home_tables[1]
            home_goalies_box_table = home_tables[2]
            home_box_table['game_id'] = game_id
            home_box_table['team'] = home_team_selector.text
            home_goalies_box_table['game_id'] = game_id
            home_goalies_box_table['team'] = home_team_selector.text

            season_stats_df = season_stats_df.append(away_box_table, sort=True)
            season_stats_df = season_stats_df.append(home_box_table, sort=True)
            season_goalies_stats_df = season_goalies_stats_df.append(away_goalies_box_table, sort=True)
            season_goalies_stats_df = season_goalies_stats_df.append(home_goalies_box_table, sort=True)
            game_id = game_id+1
         
        except:
            print(f"box score not retrievable for: {score_url}")
            pass

box score not retrievable for: https://www.ncaa.com/game/lacrosse-women/d1/2019/04/17/american-navy/boxscore
box score not retrievable for: https://www.ncaa.com/game/lacrosse-women/d1/2019/03/09/brown-navy/boxscore
box score not retrievable for: https://www.ncaa.com/game/lacrosse-women/d1/2019/03/16/navy-colgate/boxscore
box score not retrievable for: https://www.ncaa.com/game/lacrosse-women/d1/2019/03/27/navy-lehigh/boxscore
box score not retrievable for: https://www.ncaa.com/game/lacrosse-women/d1/2019/05/04/navy-loyola-maryland/boxscore
box score not retrievable for: https://www.ncaa.com/game/lacrosse-women/d1/2019/02/09/navy-virginia/boxscore

In [20]:
season_stats_df = season_stats_df.replace('\n','', regex=True)
season_goalies_stats_df = season_goalies_stats_df.replace('\n','', regex=True)

In [21]:
season_stats_df.head(100)

    A  G  GB               Name  No  POS  SH  SOG  game_id            team
0   0  0   0  CHARLOTTE SPENCER   2    M   0    0        0            Army
1   0  0   2   SAMANTHA STEWART  10    M   2    1        0            Army
2   0  0   0     MANUELA CORTES  13    M   1    1        0            Army
3   0  0   1  LAUREN BREDENBURG  23    M   0    0        0            Army
4   1  1   0        RILEE SCOTT  44    M   1    1        0            Army
5   0  0   1       MADDIE BURNS  42   GK   0    0        0            Army
6   0  0   1          NIA CRUMP   1    D   0    0        0            Army
7   0  0   1     TAYLOR KORPELA  35    D   0    0        0            Army
8   1  0   0      OLIVIA CARTER  18    A   0    0        0            Army
9   3  2   0   CAROLINE RAYMOND  21    A   3    2        0            Army
10  0  3   1     JACKIE BRATTAN  28    A   3    3        0            Army
11  0  0   0  JULIANA DWORSCHAK  34    A   0    0        0            Army
12  0  0   0        EMMA ROERTY   3  NaN   0    0        0            Army
13  0  0   1        RYAN MURPHY   5  NaN   0    0        0            Army
14  0  0   0       BETH HOFMANN   7  NaN   0    0        0            Army
15  0  1   0      MEGAN RAFTERY  16  NaN   2    2        0            Army
16  0  1   0     TAYLOR ANDREWS  25  NaN   5    2        0            Army
17  0  0   0      KELSEA KRAUSS  26  NaN   0    0        0            Army
18  0  0   2  HANNAH SLOMKOWSKI  43  NaN   0    0        0            Army
0   0  0   0  CHARLOTTE SPENCER   2    M   0    0        0            Navy
1   0  0   2   SAMANTHA STEWART  10    M   2    1        0            Navy
2   0  0   0     MANUELA CORTES  13    M   1    1        0            Navy
3   0  0   1  LAUREN BREDENBURG  23    M   0    0        0            Navy
4   1  1   0        RILEE SCOTT  44    M   1    1        0            Navy
5   0  0   1       MADDIE BURNS  42   GK   0    0        0            Navy
6   0  0   1          NIA CRUMP   1    D   0    0        0            Navy
7   0  0   1     TAYLOR KORPELA  35    D   0    0        0            Navy
8   1  0   0      OLIVIA CARTER  18    A   0    0        0            Navy
9   3  2   0   CAROLINE RAYMOND  21    A   3    2        0            Navy
10  0  3   1     JACKIE BRATTAN  28    A   3    3        0            Navy
.. .. ..  ..                ...  ..  ...  ..  ...      ...             ...
13  0  0   0      PAIGE BRIGHAM   3  NaN   0    0        1            Navy
14  0  0   0      HANNAH DOWNEY  11  NaN   0    0        1            Navy
15  0  2   0      MORIAH SNYDER  22  NaN   3    2        1            Navy
16  0  0   0       ELLIE LECKER  23  NaN   1    1        1            Navy
17  0  0   0      ANNIE MALONEY  27  NaN   0    0        1            Navy
18  0  0   0       HAILEY HARMS  28  NaN   0    0        1            Navy
0   3  3   2  DEMPSEY ARSENAULT  18    M   5    4        2  Boston College
1   2  2   2      TAYLOR WALKER  25    M   3    3        2  Boston College
2   2  1   0        CARA URBANK  26    M   2    1        2  Boston College
3   0  0   3      JORDAN LAPPIN  27    M   3    2        2  Boston College
4   0  0   1        BROOKE TROY  28    M   0    0        2  Boston College
5   0  0   0       HANNAH HYATT  33    M   0    0        2  Boston College
6   0  0   1         ABBEY NGAI  23   GK   0    0        2  Boston College
7   0  0   3   ELIZABETH MILLER   3    D   0    0        2  Boston College
8   0  0   2    CHRISTINA WALSH   8    D   0    0        2  Boston College
9   2  8   1         SAM APUZZO   2    A  10   10        2  Boston College
10  2  2   0        KENZIE KENT   4    A   7    5        2  Boston College
11  0  1   0     SHEILA RIETANO  11    A   2    1        2  Boston College
12  0  0   0   CAITLYNN MOSSMAN   7  NaN   0    0        2  Boston College
13  0  0   0   CAILEE PERETTINE   9  NaN   0    0        2  Boston College
14  0  0   0     JILLIAN REILLY  14  NaN   0    0        2  Boston College
15  0  0   0       MAGGIE CASEY  15  NaN   0    0        2  Boston College
16  0  0   1    MORGAN TEDESCHI  16  NaN   0    0        2  Boston College
17  0  0   0       ADDISON KENT  17  NaN   0    0        2  Boston College
18  0  1   0        KATE TAYLOR  21  NaN   1    1        2  Boston College
19  0  0   0        JENN MEDJID  35  NaN   1    1        2  Boston College
0   0  0   1      NATALIE IRWIN   5    M   0    0        2            Navy
1   0  0   2   ANNALISE HEYWARD  14    M   5    3        2            Navy
2   1  0   1       KAYLA HARRIS  25    M   3    3        2            Navy
3   0  0   2    GAB HARCHELROAD  39   GK   0    0        2            Navy

[100 rows x 10 columns]

In [22]:
season_goalies_stats_df.head(50)

   GA            Goalies  MIN    POS  SAVES  game_id            team
0  12       MADDIE BURNS  NaN     GK      5        0            Army
1   9  HANNAH SLOMKOWSKI  NaN    NaN      0        0            Army
2  21              Total  NaN  Total      5        0            Army
0  12       MADDIE BURNS  NaN     GK      5        0            Navy
1   9  HANNAH SLOMKOWSKI  NaN    NaN      0        0            Navy
2  21              Total  NaN  Total      5        0            Navy
0  20       MADDIE BURNS  NaN      G     13        1            Army
1  20              Total  NaN  Total     13        1            Army
0  10    GAB HARCHELROAD  NaN      G      6        1            Navy
1   0      ANNIE MALONEY  NaN    NaN      0        1            Navy
2  10              Total  NaN  Total      6        1            Navy
0   5         ABBEY NGAI  NaN     GK     12        2  Boston College
1   5              Total  NaN  Total     12        2  Boston College
0  16    GAB HARCHELROAD  NaN     GK     10        2            Navy
1   2         ABBI YOUNG  NaN    NaN      0        2            Navy
2  18              Total  NaN  Total     10        2            Navy
0  12    GAB HARCHELROAD  NaN     GK      6        3            Navy
1  12              Total  NaN  Total      6        3            Navy
0  12    GAB HARCHELROAD  NaN     GK      6        3       Boston U.
1  12              Total  NaN  Total      6        3       Boston U.
0  17       JAMIE DEWITT  NaN     GK     15        4        Bucknell
1  17              Total  NaN  Total     15        4        Bucknell
0   2    GAB HARCHELROAD  NaN     GK      2        4            Navy
1   1    LINDSEY ELLISON  NaN    NaN      0        4            Navy
2   1         MADDY BELL  NaN    NaN      0        4            Navy
3   0         ABBI YOUNG  NaN    NaN      2        4            Navy
4   4              Total  NaN  Total      4        4            Navy
0  14      HALEY HICKLEN  NaN     GK      8        5         Florida
1  14              Total  NaN  Total      8        5         Florida
0  10    GAB HARCHELROAD  NaN     GK      8        5            Navy
1   3         ABBI YOUNG  NaN    NaN      4        5            Navy
2  13              Total  NaN  Total     12        5            Navy
0   9    GAB HARCHELROAD  NaN     GK      9        6            Navy
1   9              Total  NaN  Total      9        6            Navy
0  16       HAELLE CHOMO  NaN     GK      6        6      Georgetown
1  16              Total  NaN  Total      6        6      Georgetown
0  10         SARAH ZETO  NaN     GK      1        7      High Point
1   6          JILL RALL  NaN    NaN      7        7      High Point
2  16              Total  NaN  Total      8        7      High Point
0  10         SARAH ZETO  NaN     GK      1        7            Navy
1   6          JILL RALL  NaN    NaN      7        7            Navy
2  16              Total  NaN  Total      8        7            Navy
0  12     JULIANA KUBLER  NaN     GK      7        8      Holy Cross
1  10        SOPHIE OCHS  NaN    NaN      5        8      Holy Cross
2  22              Total  NaN  Total     12        8      Holy Cross
0   3    GAB HARCHELROAD  NaN     GK      5        8            Navy
1   2    LINDSEY ELLISON  NaN    NaN      1        8            Navy
2   1         MADDY BELL  NaN    NaN      0        8            Navy
3   0         ABBI YOUNG  NaN    NaN      0        8            Navy
4   6              Total  NaN  Total      6        8            Navy

In [23]:
game_id = 0
season_play_by_play_df = pd.DataFrame(columns=['description', 'score', 'team', 'time','game_id'])

# Go to NCAA Play by play  through splinter module

for i in range(len(box_game_urls)):
    score_url = game_urls[i]
    browser.visit(score_url)
    html = browser.html
    #response = requests.get(url)
    soup = BeautifulSoup(html, 'lxml')
    all_rows = soup.find_all('tr')
    df_data = []
    for row in all_rows:
        try:
            img = row.find(class_="team")
            df_data.append({
                "time": row.find(class_="time").text,
                "team": img.find("img")["title"],
                "score": row.find(class_="score").text,
                "description": row.find(class_="description").text,
                "game_id": game_id
            })
            #print(row.find(class_="time").text)
            #print(img.find("img")["title"])
            #print(row.find(class_="score").text)
            #print(row.find(class_="description").text)
        except:
            #print(f"play by play not found {score_url}")
            pass
    game_id = game_id+1
    play_table_df = pd.DataFrame(df_data)
    season_play_by_play_df = season_play_by_play_df.append(play_table_df, sort=True)

In [24]:
season_play_by_play_df = season_play_by_play_df.replace('\n','', regex=True)

In [25]:
#join with schedule data for more complete dataset
season_play_by_play_df = season_play_by_play_df.join(new_df, on='game_id')

In [26]:
season_play_by_play_df.head(300)

,description,game_id,score,team,time,key,Home_Away,Period,Day,CONFERENCE,SystemName
0,"Geier, Fiona at goalie for AU.",0,,American,30:00,American,vs,04,17,Patriot,american
1,"Harchelroad, Gab at goalie for NAVY.",0,,Navy,30:00,American,vs,04,17,Patriot,american
2,"Draw control by AU Goldblum, Kendall.",0,,American,00:00,American,vs,04,17,Patriot,american
3,"Turnover by AU Jade, Izabella (caused by Heywa...",0,,American,29:26,American,vs,04,17,Patriot,american
4,"Ground ball pickup by NAVY Heyward, Annalise.",0,,Navy,29:23,American,vs,04,17,Patriot,american
5,Clear attempt by NAVY good.,0,,Navy,29:09,American,vs,04,17,Patriot,american
6,"GOAL by NAVY Victory, Nicole (FIRST GOAL), Ass...",0,0-1,Navy,28:56,American,vs,04,17,Patriot,american
7,"Draw control by NAVY Roelofs, Reagan.",0,,Navy,00:00,American,vs,04,17,Patriot,american
8,"GOAL by NAVY O'Sullivan, Andie, Assist by Heyw...",0,0-2,Navy,28:29,American,vs,04,17,Patriot,american
9,"Draw control by NAVY Harris, Kayla.",0,,Navy,00:00,American,vs,04,17,Patriot,american
10,"Foul on AU Brennan, Leah.",0,,American,00:00,American,vs,04,17,Patriot,american
11,"Shot by NAVY Harris, Kayla, SAVE Geier, Fiona.",0,,Navy,27:33,American,vs,04,17,Patriot,american
12,"GOAL by NAVY Larkin, Kelly, Assist by Victory,...",0,0-3,Navy,27:25,American,vs,04,17,Patriot,american
13,"Draw control by NAVY Harris, Kayla.",0,,Navy,00:00,American,vs,04,17,Patriot,american
14,"GOAL by NAVY O'Sullivan, Andie, Assist by Vict...",0,0-4,Navy,27:00,American,vs,04,17,Patriot,american
15,Timeout by AU.,0,,American,27:00,American,vs,04,17,Patriot,american
16,"Draw control by NAVY Roelofs, Reagan.",0,,Navy,00:00,American,vs,04,17,Patriot,american
17,"Shot by NAVY Heyward, Annalise WIDE.",0,,Navy,26:20,American,vs,04,17,Patriot,american
18,"Foul on AU Aguilar-Gervase, C..",0,,American,00:00,American,vs,04,17,Patriot,american
19,Free position attempt for NAVY.,0,,Navy,26:20,American,vs,04,17,Patriot,american
20,"GOAL by NAVY Heyward, Annalise (FPGOAL) {free ...",0,0-5,Navy,26:18,American,vs,04,17,Patriot,american
21,"Draw control by NAVY Roelofs, Reagan.",0,,Navy,00:00,American,vs,04,17,Patriot,american
22,"Foul on AU Goldblum, Kendall.",0,,American,00:00,American,vs,04,17,Patriot,american
23,"GOAL by NAVY Harris, Kayla, goal number 30 for...",0,0-6,Navy,25:27,American,vs,04,17,Patriot,american
24,"Draw control by NAVY Roelofs, Reagan.",0,,Navy,00:00,American,vs,04,17,Patriot,american
25,"Shot by NAVY Victory, Nicole HIGH.",0,,Navy,25:21,American,vs,04,17,Patriot,american
26,"Turnover by NAVY Larkin, Kelly (caused by Agui...",0,,Navy,25:11,American,vs,04,17,Patriot,american
27,"Ground ball pickup by AU Geier, Fiona.",0,,American,25:08,American,vs,04,17,Patriot,american
28,Clear attempt by AU good.,0,,American,24:52,American,vs,04,17,Patriot,american
29,"Turnover by AU Stapleton, Brooke.",0,,American,24:36,American,vs,04,17,Patriot,american
...,...,...,...,...,...,...,...,...,...,...,...
20,"Ground ball pickup by NAVY Victory, Nicole.",1,,Navy,26:53,Army West Point,vs,04,13,Patriot,army
21,"GOAL by NAVY Irwin, Natalie, Assist by Victory...",1,0-3,Navy,25:49,Army West Point,vs,04,13,Patriot,army
22,"Draw control by NAVY Roelofs, Reagan.",1,,Navy,00:00,Army West Point,vs,04,13,Patriot,army
23,"Foul on ARMY Raymond, Caroline.",1,,Army,00:00,Army West Point,vs,04,13,Patriot,army
24,"GOAL by NAVY Irwin, Natalie, Assist by Victory...",1,0-4,Navy,24:51,Army West Point,vs,04,13,Patriot,army
25,"Draw control by NAVY Heyward, Annalise.",1,,Navy,00:00,Army West Point,vs,04,13,Patriot,army
26,"Foul on ARMY Stewart, Samantha.",1,,Army,00:00,Army West Point,vs,04,13,Patriot,army
27,"Shot by NAVY Larkin, Kelly HIGH.",1,,Navy,23:45,Army West Point,vs,04,13,Patriot,army
28,"GOAL by NAVY Harris, Kayla, Assist by Larkin, ...",1,0-5,Navy,23:31,Army West Point,vs,04,13,Patriot,army
29,Timeout by ARMY.,1,,Army,23:31,Army West Point,vs,04,13,Patriot,army
30,"Draw control by ARMY Stewart, Samantha.",1,,Army,00:00,Army West Point,vs,04,13,Patriot,army
31,"Turnover by ARMY Hofmann, Beth (caused by Irwi...",1,,Army,23:00,Army West Point,vs,04,13,Patriot,army
32,"Ground ball pickup by NAVY Irwin, Natalie.",1,,Navy,22:56,Army West Point,vs,04,13,Patriot,army
33,"Foul on ARMY Brattan, Jackie.",1,,Army,00:00,Army West Point,vs,04,13,Patriot,army
34,Clear attempt by NAVY good.,1,,Navy,22:27,Army West Point,vs,04,13,Patriot,army
35,"GOAL by NAVY O'Sullivan, Andie, Assist by Lark...",1,0-6,Navy,22:03,Army West Point,vs,04,13,Patriot,army
36,"Slomkowski, Hannah at goalie for ARMY.",1,,Army,22:03,Army West Point,vs,04,13,Patriot,army
37,"Draw control by ARMY Stewart, Samantha.",1,,Army,00:00,Army West Point,vs,04,13,Patriot,army
38,"Foul on NAVY Heyward, Annalise.",1,,Navy,00:00,Army West Point,vs,04,13,Patriot,army
39,"Turnover by ARMY Stewart, Samantha (caused by ...",1,,Army,21:25,Army West Point,vs,04,13,Patriot,army
40,"Ground ball pickup by NAVY Richter, Anne.",1,,Navy,21:18,Army West Point,vs,04,13,Patriot,army
41,"Foul on ARMY Cortes, Manuela.",1,,Army,00:00,Army West Point,vs,04,13,Patriot,army
42,Clear attempt by NAVY good.,1,,Navy,20:58,Army West Point,vs,04,13,Patriot,army
43,"GOAL by NAVY Lazarides, Marina, Assist by Lark...",1,0-7,Navy,20:36,Army West Point,vs,04,13,Patriot,army
44,"Draw control by NAVY Kwon, Caroline.",1,,Navy,00:00,Army West Point,vs,04,13,Patriot,army
45,"Foul on ARMY Cortes, Manuela.",1,,Army,00:00,Army West Point,vs,04,13,Patriot,army
46,Clear attempt by NAVY good.,1,,Navy,20:20,Army West Point,vs,04,13,Patriot,army
47,"Foul on ARMY Korpela, Taylor.",1,,Army,00:00,Army West Point,vs,04,13,Patriot,army
48,"GOAL by NAVY Victory, Nicole, Assist by Lazari...",1,0-8,Navy,19:27,Army West Point,vs,04,13,Patriot,army
49,"Draw control by ARMY Brattan, Jackie.",1,,Army,00:00,Army West Point,vs,04,13,Patriot,army

In [27]:
#test sample recall of play by play for single game by game id
print(season_play_by_play_df.loc[season_play_by_play_df['game_id'] ==0])

                                           description  game_id  score  \
0                       Geier, Fiona at goalie for AU.        0
1                 Harchelroad, Gab at goalie for NAVY.        0
2                Draw control by AU Goldblum, Kendall.        0
3    Turnover by AU Jade, Izabella (caused by Heywa...        0
4        Ground ball pickup by NAVY Heyward, Annalise.        0
5                          Clear attempt by NAVY good.        0
6    GOAL by NAVY Victory, Nicole (FIRST GOAL), Ass...        0    0-1
7                Draw control by NAVY Roelofs, Reagan.        0
8    GOAL by NAVY O'Sullivan, Andie, Assist by Heyw...        0    0-2
9                  Draw control by NAVY Harris, Kayla.        0
10                           Foul on AU Brennan, Leah.        0
11      Shot by NAVY Harris, Kayla, SAVE Geier, Fiona.        0
12   GOAL by NAVY Larkin, Kelly, Assist by Victory,...        0    0-3
13                 Draw control by NAVY Harris, Kayla.        0
14   GOAL by NAVY O'Sullivan, Andie, Assist by Vict...        0    0-4
15                                      Timeout by AU.        0
16               Draw control by NAVY Roelofs, Reagan.        0
17                Shot by NAVY Heyward, Annalise WIDE.        0
18                     Foul on AU Aguilar-Gervase, C..        0
19                     Free position attempt for NAVY.        0
20   GOAL by NAVY Heyward, Annalise (FPGOAL) {free ...        0    0-5
21               Draw control by NAVY Roelofs, Reagan.        0
22                       Foul on AU Goldblum, Kendall.        0
23   GOAL by NAVY Harris, Kayla, goal number 30 for...        0    0-6
24               Draw control by NAVY Roelofs, Reagan.        0
25                  Shot by NAVY Victory, Nicole HIGH.        0
26   Turnover by NAVY Larkin, Kelly (caused by Agui...        0
27              Ground ball pickup by AU Geier, Fiona.        0
28                           Clear attempt by AU good.        0
29                   Turnover by AU Stapleton, Brooke.        0
..                                                 ...      ...    ...
220  GOAL by AU Medjid, Amanda, Assist by Vinall, E...        0   8-17
221                   Draw control by AU Vinall, Emma.        0
222  GOAL by AU Goldblum, Kendall, goal number 30 f...        0   9-17
223               Ellison, Lindsey at goalie for NAVY.        0
224                  Draw control by AU Brennan, Leah.        0
225  Turnover by AU Stapleton, Brooke (caused by Va...        0
226           Ground ball pickup by NAVY Bell, Alexis.        0
227                        Clear attempt by NAVY good.        0
228  Turnover by NAVY Fiore, Christine (caused by W...        0
229              Ground ball pickup by AU Wood, Katie.        0
230                          Clear attempt by AU good.        0
231                      Shot by AU Vinall, Emma HIGH.        0
232                          Foul on NAVY Gordon, Meg.        0
233                      Free position attempt for AU.        0
234  GOAL by AU Brennan, Leah (FPGOAL) {free positi...        0  10-17
235                 Draw control by AU Medjid, Amanda.        0
236                        Clear attempt by AU failed.        0
237  Turnover by AU Wood, Katie (caused by Blanche,...        0
238       Ground ball pickup by NAVY Blanche, Caitlin.        0
239                        Foul on AU Walsh, Stefanie.        0
240                    Free position attempt for NAVY.        0
241  GOAL by NAVY Snyder, Moriah (FPGOAL) {free pos...        0  10-18
242                Draw control by NAVY Lecker, Ellie.        0
243  GOAL by NAVY Brigham, Paige, Assist by Lecker,...        0  10-19
244                Draw control by NAVY Lecker, Ellie.        0
245                      Foul on AU Goldblum, Kendall.        0
246               Yellow card on AU Goldblum, Kendall.        0
247                    Foul on AU Aguilar-Gervase, C..        0
248                    Free position attempt for NAVY.        0
249  GOAL by NAVY Eby, Gil (FPGOAL) {free position ...        0  10-20

         team   time       key Home_Away Period Day CONFERENCE SystemName
0    American  30:00  American        vs     04  17    Patriot   american
1        Navy  30:00  American        vs     04  17    Patriot   american
2    American  00:00  American        vs     04  17    Patriot   american
3    American  29:26  American        vs     04  17    Patriot   american
4        Navy  29:23  American        vs     04  17    Patriot   american
5        Navy  29:09  American        vs     04  17    Patriot   american
6        Navy  28:56  American        vs     04  17    Patriot   american
7        Navy  00:00  American        vs     04  17    Patriot   american
8        Navy  28:29  American        vs     04  17    Patriot   american
9        Navy  00:00  American        vs     04  17    Patriot   american
10   American  00:00  American        vs     04  17    Patriot   american
11       Navy  27:33  American        vs     04  17    Patriot   american
12       Navy  27:25  American        vs     04  17    Patriot   american
13       Navy  00:00  American        vs     04  17    Patriot   american
14       Navy  27:00  American        vs     04  17    Patriot   american
15   American  27:00  American        vs     04  17    Patriot   american
16       Navy  00:00  American        vs     04  17    Patriot   american
17       Navy  26:20  American        vs     04  17    Patriot   american
18   American  00:00  American        vs     04  17    Patriot   american
19       Navy  26:20  American        vs     04  17    Patriot   american
20       Navy  26:18  American        vs     04  17    Patriot   american
21       Navy  00:00  American        vs     04  17    Patriot   american
22   American  00:00  American        vs     04  17    Patriot   american
23       Navy  25:27  American        vs     04  17    Patriot   american
24       Navy  00:00  American        vs     04  17    Patriot   american
25       Navy  25:21  American        vs     04  17    Patriot   american
26       Navy  25:11  American        vs     04  17    Patriot   american
27   American  25:08  American        vs     04  17    Patriot   american
28   American  24:52  American        vs     04  17    Patriot   american
29   American  24:36  American        vs     04  17    Patriot   american
..        ...    ...       ...       ...    ...  ..        ...        ...
220  American  05:04  American        vs     04  17    Patriot   american
221  American  00:00  American        vs     04  17    Patriot   american
222  American  04:25  American        vs     04  17    Patriot   american
223      Navy  04:25  American        vs     04  17    Patriot   american
224  American  00:00  American        vs     04  17    Patriot   american
225  American  03:13  American        vs     04  17    Patriot   american
226      Navy  03:07  American        vs     04  17    Patriot   american
227      Navy  03:02  American        vs     04  17    Patriot   american
228      Navy  02:56  American        vs     04  17    Patriot   american
229  American  02:49  American        vs     04  17    Patriot   american
230  American  02:47  American        vs     04  17    Patriot   american
231  American  02:45  American        vs     04  17    Patriot   american
232      Navy  00:00  American        vs     04  17    Patriot   american
233  American  02:08  American        vs     04  17    Patriot   american
234  American  02:08  American        vs     04  17    Patriot   american
235  American  00:00  American        vs     04  17    Patriot   american
236  American  01:50  American        vs     04  17    Patriot   american
237  American  01:49  American        vs     04  17    Patriot   american
238      Navy  01:46  American        vs     04  17    Patriot   american
239  American  00:00  American        vs     04  17    Patriot   american
240      Navy  00:43  American        vs     04  17    Patriot   american
241      Navy  00:41  American        vs     04  17    Patriot   american
242      Navy  00:00  American        vs     04  17    Patriot   american
243      Navy  00:34  American        vs     04  17    Patriot   american
244      Navy  00:00  American        vs     04  17    Patriot   american
245  American  00:00  American        vs     04  17    Patriot   american
246  American  00:00  American        vs     04  17    Patriot   american
247  American  00:00  American        vs     04  17    Patriot   american
248      Navy  00:15  American        vs     04  17    Patriot   american
249      Navy  00:14  American        vs     04  17    Patriot   american

[250 rows x 11 columns]

In [28]:
season_stats_df = season_stats_df.join(new_df, on='game_id')
season_goalies_stats_df = season_goalies_stats_df.join(new_df, on='game_id')

In [29]:
#test sample recall of box score for single game by game id

print(season_stats_df.loc[season_stats_df['game_id'] ==6])

    A  G  GB                  Name  No  POS  SH  SOG  game_id        team  \
0   0  0   1         NATALIE IRWIN   5    M   0    0        6        Navy
1   2  3   3      ANNALISE HEYWARD  14    M   6    4        6        Navy
2   0  0   1          KAYLA HARRIS  25    M   4    3        6        Navy
3   0  0   1       GAB HARCHELROAD  39   GK   0    0        6        Navy
4   0  0   4               GIL EBY   2    D   0    0        6        Navy
5   0  0   2         MARIE VALENTI   8    D   0    0        6        Navy
6   0  0   2         CAROLINE KWON  13    D   0    0        6        Navy
7   0  0   2          ANNE RICHTER  19    D   0    0        6        Navy
8   6  4   1          KELLY LARKIN   7    A   6    4        6        Navy
9   0  0   1      ANDIE O'SULLIVAN  30    A   1    1        6        Navy
10  1  5   0        NICOLE VICTORY  44    A   5    5        6        Navy
11  0  0   1        REAGAN ROELOFS  50    A   1    1        6        Navy
12  0  0   0        ADDIE HAMILTON  16  NaN   0    0        6        Navy
13  1  3   0      MARINA LAZARIDES  20  NaN   3    3        6        Navy
14  0  0   0         MORIAH SNYDER  22  NaN   1    0        6        Navy
15  0  1   0          ELLIE LECKER  23  NaN   5    1        6        Navy
16  0  0   0      MURPHY MCDONOUGH  29  NaN   0    0        6        Navy
0   1  0   0         NATALIA LYNCH  16    M   2    2        6  Georgetown
1   2  2   2  FRANCESCA WHITEHURST  26    M   2    2        6  Georgetown
2   0  0   2          HAELLE CHOMO   5   GK   0    0        6  Georgetown
3   0  0   0         MOLLIE MILLER   2    D   0    0        6  Georgetown
4   0  0   0       MEGAN MASSIMINO  13    D   0    0        6  Georgetown
5   0  0   3        JOSEPHINE ZINN  17    D   0    0        6  Georgetown
6   0  0   1       NOELLE PERAGINE  25    D   0    0        6  Georgetown
7   0  0   4          KATIE HUDSON  27    D   0    0        6  Georgetown
8   2  2   0        MICHAELA BRUNO   1    A   6    3        6  Georgetown
9   1  1   1            EMILY EHLE   4    A   5    3        6  Georgetown
10  0  2   1       TAYLOR GEBHARDT  10    A   4    3        6  Georgetown
11  0  1   0           MORGAN RYAN  14    A   1    1        6  Georgetown
12  0  0   1         WYNNE WHITLEY   3  NaN   0    0        6  Georgetown
13  0  0   1           LIZA LIOTTA   6  NaN   1    1        6  Georgetown
14  0  0   0        OLIVIA BUCKMAN   8  NaN   0    0        6  Georgetown
15  0  0   1           MARY PAGANO  23  NaN   0    0        6  Georgetown
16  1  1   1           ALI DIAMOND  24  NaN   2    1        6  Georgetown
17  0  0   0        CAROLINE FROCK  31  NaN   2    2        6  Georgetown
18  0  0   0       JORDYN SABOURIN  33  NaN   0    0        6  Georgetown

         key Home_Away Period Day CONFERENCE SystemName
0   Bucknell        vs     03  23    Patriot   bucknell
1   Bucknell        vs     03  23    Patriot   bucknell
2   Bucknell        vs     03  23    Patriot   bucknell
3   Bucknell        vs     03  23    Patriot   bucknell
4   Bucknell        vs     03  23    Patriot   bucknell
5   Bucknell        vs     03  23    Patriot   bucknell
6   Bucknell        vs     03  23    Patriot   bucknell
7   Bucknell        vs     03  23    Patriot   bucknell
8   Bucknell        vs     03  23    Patriot   bucknell
9   Bucknell        vs     03  23    Patriot   bucknell
10  Bucknell        vs     03  23    Patriot   bucknell
11  Bucknell        vs     03  23    Patriot   bucknell
12  Bucknell        vs     03  23    Patriot   bucknell
13  Bucknell        vs     03  23    Patriot   bucknell
14  Bucknell        vs     03  23    Patriot   bucknell
15  Bucknell        vs     03  23    Patriot   bucknell
16  Bucknell        vs     03  23    Patriot   bucknell
0   Bucknell        vs     03  23    Patriot   bucknell
1   Bucknell        vs     03  23    Patriot   bucknell
2   Bucknell        vs     03  23    Patriot   bucknell
3   Bucknell        vs     03  23    Patriot   bucknell
4   Bucknell        vs     03  23    Patriot   bucknell
5   Bucknell        vs     03  23    Patriot   bucknell
6   Bucknell        vs     03  23    Patriot   bucknell
7   Bucknell        vs     03  23    Patriot   bucknell
8   Bucknell        vs     03  23    Patriot   bucknell
9   Bucknell        vs     03  23    Patriot   bucknell
10  Bucknell        vs     03  23    Patriot   bucknell
11  Bucknell        vs     03  23    Patriot   bucknell
12  Bucknell        vs     03  23    Patriot   bucknell
13  Bucknell        vs     03  23    Patriot   bucknell
14  Bucknell        vs     03  23    Patriot   bucknell
15  Bucknell        vs     03  23    Patriot   bucknell
16  Bucknell        vs     03  23    Patriot   bucknell
17  Bucknell        vs     03  23    Patriot   bucknell
18  Bucknell        vs     03  23    Patriot   bucknell

In [30]:
#test sample recall of goalies box score for single game by game id

print(season_goalies_stats_df.loc[season_goalies_stats_df['game_id'] ==7])

   GA     Goalies  MIN    POS  SAVES  game_id        team      key Home_Away  \
0  10  SARAH ZETO  NaN     GK      1        7  High Point  Colgate        at
1   6   JILL RALL  NaN    NaN      7        7  High Point  Colgate        at
2  16       Total  NaN  Total      8        7  High Point  Colgate        at
0  10  SARAH ZETO  NaN     GK      1        7        Navy  Colgate        at
1   6   JILL RALL  NaN    NaN      7        7        Navy  Colgate        at
2  16       Total  NaN  Total      8        7        Navy  Colgate        at

  Period Day CONFERENCE SystemName
0     03  16    Patriot    colgate
1     03  16    Patriot    colgate
2     03  16    Patriot    colgate
0     03  16    Patriot    colgate
1     03  16    Patriot    colgate
2     03  16    Patriot    colgate

In [31]:
#dump all of the data into mySQL

#import mysql.connector
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

engine = create_engine('sqlite:///urldb', echo=False)


season_play_by_play_df.to_sql(name='season_play_by_play', con=engine, if_exists = 'replace', index=False)
season_stats_df.to_sql(name='season_stats', con=engine, if_exists = 'replace', index=False)
season_goalies_stats_df.to_sql(name='season_goalies_stats', con=engine, if_exists = 'replace', index=False)

In [32]:
#test the mySQL
session = Session(engine)
test = session.execute("select * from season_goalies_stats")

result_proxy = test.fetchall()

print(result_proxy)

[(12, 'MADDIE BURNS', None, 'GK', 5, 0, 'Army', 'American', 'vs', '04', '17', 'Patriot', 'american'), (9, 'HANNAH SLOMKOWSKI', None, None, 0, 0, 'Army', 'American', 'vs', '04', '17', 'Patriot', 'american'), (21, 'Total', None, 'Total', 5, 0, 'Army', 'American', 'vs', '04', '17', 'Patriot', 'american'), (12, 'MADDIE BURNS', None, 'GK', 5, 0, 'Navy', 'American', 'vs', '04', '17', 'Patriot', 'american'), (9, 'HANNAH SLOMKOWSKI', None, None, 0, 0, 'Navy', 'American', 'vs', '04', '17', 'Patriot', 'american'), (21, 'Total', None, 'Total', 5, 0, 'Navy', 'American', 'vs', '04', '17', 'Patriot', 'american'), (20, 'MADDIE BURNS', None, 'G', 13, 1, 'Army', 'Army West Point', 'vs', '04', '13', 'Patriot', 'army'), (20, 'Total', None, 'Total', 13, 1, 'Army', 'Army West Point', 'vs', '04', '13', 'Patriot', 'army'), (10, 'GAB HARCHELROAD', None, 'G', 6, 1, 'Navy', 'Army West Point', 'vs', '04', '13', 'Patriot', 'army'), (0, 'ANNIE MALONEY', None, None, 0, 1, 'Navy', 'Army West Point', 'vs', '04', '13', 'Patriot', 'army'), (10, 'Total', None, 'Total', 6, 1, 'Navy', 'Army West Point', 'vs', '04', '13', 'Patriot', 'army'), (5, 'ABBEY NGAI', None, 'GK', 12, 2, 'Boston College', 'Army West Point', 'vs', '05', '02', 'Patriot', 'army'), (5, 'Total', None, 'Total', 12, 2, 'Boston College', 'Army West Point', 'vs', '05', '02', 'Patriot', 'army'), (16, 'GAB HARCHELROAD', None, 'GK', 10, 2, 'Navy', 'Army West Point', 'vs', '05', '02', 'Patriot', 'army'), (2, 'ABBI YOUNG', None, None, 0, 2, 'Navy', 'Army West Point', 'vs', '05', '02', 'Patriot', 'army'), (18, 'Total', None, 'Total', 10, 2, 'Navy', 'Army West Point', 'vs', '05', '02', 'Patriot', 'army'), (12, 'GAB HARCHELROAD', None, 'GK', 6, 3, 'Navy', 'Boston College', 'vs', '03', '06', 'ACC', 'boston-college'), (12, 'Total', None, 'Total', 6, 3, 'Navy', 'Boston College', 'vs', '03', '06', 'ACC', 'boston-college'), (12, 'GAB HARCHELROAD', None, 'GK', 6, 3, 'Boston U.', 'Boston College', 'vs', '03', '06', 'ACC', 'boston-college'), (12, 'Total', None, 'Total', 6, 3, 'Boston U.', 'Boston College', 'vs', '03', '06', 'ACC', 'boston-college'), (17, 'JAMIE DEWITT', None, 'GK', 15, 4, 'Bucknell', 'Boston University', 'at', '04', '25', 'Patriot', 'boston-u'), (17, 'Total', None, 'Total', 15, 4, 'Bucknell', 'Boston University', 'at', '04', '25', 'Patriot', 'boston-u'), (2, 'GAB HARCHELROAD', None, 'GK', 2, 4, 'Navy', 'Boston University', 'at', '04', '25', 'Patriot', 'boston-u'), (1, 'LINDSEY ELLISON', None, None, 0, 4, 'Navy', 'Boston University', 'at', '04', '25', 'Patriot', 'boston-u'), (1, 'MADDY BELL', None, None, 0, 4, 'Navy', 'Boston University', 'at', '04', '25', 'Patriot', 'boston-u'), (0, 'ABBI YOUNG', None, None, 2, 4, 'Navy', 'Boston University', 'at', '04', '25', 'Patriot', 'boston-u'), (4, 'Total', None, 'Total', 4, 4, 'Navy', 'Boston University', 'at', '04', '25', 'Patriot', 'boston-u'), (14, 'HALEY HICKLEN', None, 'GK', 8, 5, 'Florida', 'Brown', 'vs', '03', '09', 'Ivy League', 'brown'), (14, 'Total', None, 'Total', 8, 5, 'Florida', 'Brown', 'vs', '03', '09', 'Ivy League', 'brown'), (10, 'GAB HARCHELROAD', None, 'GK', 8, 5, 'Navy', 'Brown', 'vs', '03', '09', 'Ivy League', 'brown'), (3, 'ABBI YOUNG', None, None, 4, 5, 'Navy', 'Brown', 'vs', '03', '09', 'Ivy League', 'brown'), (13, 'Total', None, 'Total', 12, 5, 'Navy', 'Brown', 'vs', '03', '09', 'Ivy League', 'brown'), (9, 'GAB HARCHELROAD', None, 'GK', 9, 6, 'Navy', 'Bucknell', 'vs', '03', '23', 'Patriot', 'bucknell'), (9, 'Total', None, 'Total', 9, 6, 'Navy', 'Bucknell', 'vs', '03', '23', 'Patriot', 'bucknell'), (16, 'HAELLE CHOMO', None, 'GK', 6, 6, 'Georgetown', 'Bucknell', 'vs', '03', '23', 'Patriot', 'bucknell'), (16, 'Total', None, 'Total', 6, 6, 'Georgetown', 'Bucknell', 'vs', '03', '23', 'Patriot', 'bucknell'), (10, 'SARAH ZETO', None, 'GK', 1, 7, 'High Point', 'Colgate', 'at', '03', '16', 'Patriot', 'colgate'), (6, 'JILL RALL', None, None, 7, 7, 'High Point', 'Colgate', 'at', '03', '16', 'Patriot', 'colgate'), (16, 'Total', None, 'Total', 8, 7, 'High Point', 'Colgate', 'at', '03', '16', 'Patriot', 'colgate'), (10, 'SARAH ZETO', None, 'GK', 1, 7, 'Navy', 'Colgate', 'at', '03', '16', 'Patriot', 'colgate'), (6, 'JILL RALL', None, None, 7, 7, 'Navy', 'Colgate', 'at', '03', '16', 'Patriot', 'colgate'), (16, 'Total', None, 'Total', 8, 7, 'Navy', 'Colgate', 'at', '03', '16', 'Patriot', 'colgate'), (12, 'JULIANA KUBLER', None, 'GK', 7, 8, 'Holy Cross', 'Florida', 'vs', '03', '02', 'AAC', 'florida'), (10, 'SOPHIE OCHS', None, None, 5, 8, 'Holy Cross', 'Florida', 'vs', '03', '02', 'AAC', 'florida'), (22, 'Total', None, 'Total', 12, 8, 'Holy Cross', 'Florida', 'vs', '03', '02', 'AAC', 'florida'), (3, 'GAB HARCHELROAD', None, 'GK', 5, 8, 'Navy', 'Florida', 'vs', '03', '02', 'AAC', 'florida'), (2, 'LINDSEY ELLISON', None, None, 1, 8, 'Navy', 'Florida', 'vs', '03', '02', 'AAC', 'florida'), (1, 'MADDY BELL', None, None, 0, 8, 'Navy', 'Florida', 'vs', '03', '02', 'AAC', 'florida'), (0, 'ABBI YOUNG', None, None, 0, 8, 'Navy', 'Florida', 'vs', '03', '02', 'AAC', 'florida'), (6, 'Total', None, 'Total', 6, 8, 'Navy', 'Florida', 'vs', '03', '02', 'AAC', 'florida'), (15, 'QUINN LACY', None, 'GK', 9, 9, 'Lafayette', 'Georgetown', 'at', '04', '10', 'Big East', 'georgetown'), (6, 'TAYLOR DANSON', None, None, 5, 9, 'Lafayette', 'Georgetown', 'at', '04', '10', 'Big East', 'georgetown'), (21, 'Total', None, 'Total', 14, 9, 'Lafayette', 'Georgetown', 'at', '04', '10', 'Big East', 'georgetown'), (3, 'GAB HARCHELROAD', None, 'GK', 3, 9, 'Navy', 'Georgetown', 'at', '04', '10', 'Big East', 'georgetown'), (2, 'ANNIE MALONEY', None, None, 1, 9, 'Navy', 'Georgetown', 'at', '04', '10', 'Big East', 'georgetown'), (0, 'MADDY BELL', None, None, 0, 9, 'Navy', 'Georgetown', 'at', '04', '10', 'Big East', 'georgetown'), (0, 'ABBI YOUNG', None, None, 0, 9, 'Navy', 'Georgetown', 'at', '04', '10', 'Big East', 'georgetown'), (5, 'Total', None, 'Total', 4, 9, 'Navy', 'Georgetown', 'at', '04', '10', 'Big East', 'georgetown'), (13, 'GAB HARCHELROAD', None, 'G', 2, 10, 'Navy', 'High Point', 'vs', '05', '10', 'Big South', 'high-point'), (3, 'ABBI YOUNG', None, None, 0, 10, 'Navy', 'High Point', 'vs', '05', '10', 'Big South', 'high-point'), (16, 'Total', None, 'Total', 2, 10, 'Navy', 'High Point', 'vs', '05', '10', 'Big South', 'high-point'), (6, 'KADY GLYNN', None, 'G', 7, 10, 'Loyola Maryland', 'High Point', 'vs', '05', '10', 'Big South', 'high-point'), (0, 'KAITLYN LARSSON', None, None, 0, 10, 'Loyola Maryland', 'High Point', 'vs', '05', '10', 'Big South', 'high-point'), (6, 'Total', None, 'Total', 7, 10, 'Loyola Maryland', 'High Point', 'vs', '05', '10', 'Big South', 'high-point'), (12, 'CORINNE BUTTNER', None, 'GK', 16, 11, "Saint Joseph's", 'Holy Cross', 'vs', '03', '30', 'Patriot', 'holy-cross'), (12, 'Total', None, 'Total', 16, 11, "Saint Joseph's", 'Holy Cross', 'vs', '03', '30', 'Patriot', 'holy-cross'), (12, 'CORINNE BUTTNER', None, 'GK', 16, 11, 'Navy', 'Holy Cross', 'vs', '03', '30', 'Patriot', 'holy-cross'), (12, 'Total', None, 'Total', 16, 11, 'Navy', 'Holy Cross', 'vs', '03', '30', 'Patriot', 'holy-cross'), (14, 'KILEY KEATING', None, 'GK', 4, 12, 'Towson', 'Lafayette', 'vs', '04', '20', 'Patriot', 'lafayette'), (14, 'Total', None, 'Total', 4, 12, 'Towson', 'Lafayette', 'vs', '04', '20', 'Patriot', 'lafayette'), (13, 'GAB HARCHELROAD', None, 'GK', 3, 12, 'Navy', 'Lafayette', 'vs', '04', '20', 'Patriot', 'lafayette'), (13, 'Total', None, 'Total', 3, 12, 'Navy', 'Lafayette', 'vs', '04', '20', 'Patriot', 'lafayette'), (5, 'GAB HARCHELROAD', None, 'GK', 5, 13, 'Navy', 'Lehigh', 'at', '03', '27', 'Patriot', 'lehigh'), (1, 'ABBI YOUNG', None, None, 0, 13, 'Navy', 'Lehigh', 'at', '03', '27', 'Patriot', 'lehigh'), (6, 'Total', None, 'Total', 5, 13, 'Navy', 'Lehigh', 'at', '03', '27', 'Patriot', 'lehigh'), (12, 'ALEXA MORO', None, 'GK', 8, 13, 'Villanova', 'Lehigh', 'at', '03', '27', 'Patriot', 'lehigh'), (2, 'OLIVIA GONSALVES', None, None, 0, 13, 'Villanova', 'Lehigh', 'at', '03', '27', 'Patriot', 'lehigh'), (14, 'Total', None, 'Total', 8, 13, 'Villanova', 'Lehigh', 'at', '03', '27', 'Patriot', 'lehigh'), (13, 'GAB HARCHELROAD', None, 'GK', 3, 14, 'Navy', 'Loyola', 'at', '04', '06', 'Patriot', 'loyola-maryland'), (2, 'ABBI YOUNG', None, None, 0, 14, 'Navy', 'Loyola', 'at', '04', '06', 'Patriot', 'loyola-maryland'), (15, 'Total', None, 'Total', 3, 14, 'Navy', 'Loyola', 'at', '04', '06', 'Patriot', 'loyola-maryland'), (12, 'CHARLIE CAMPBELL', None, 'GK', 9, 14, 'Virginia', 'Loyola', 'at', '04', '06', 'Patriot', 'loyola-maryland'), (12, 'Total', None, 'Total', 9, 14, 'Virginia', 'Loyola', 'at', '04', '06', 'Patriot', 'loyola-maryland')]

In [33]:
class Game():
    def __init__(self):
        self.shots = 0
        self.draw_controls = 0
        self.fouls = 0
        self.free_position_attempts = 0
        self.turnovers = 0
        self.ground_ball_pickups = 0
        self.clear_attempts = 0
        self.goals = 0
        self.timeouts = 0
        self.Navy_shots = 0
        self.opponent_shots = 0
        self.Navy_draw_controls = 0
        self.opponent_draw_controls = 0
        self.Navy_fouls = 0
        self.opponent_fouls = 0
        self.Navy_free_positions = 0
        self.opponent_free_positions = 0
        self.Navy_turnovers = 0
        self.opponent_turnovers = 0
        self.Navy_ground_ball_pickups = 0
        self.opponent_ground_ball_pickups = 0
        self.Navy_clear_attempts = 0
        self.Navy_successful_clears = 0
        self.Navy_failed_clears = 0
        self.opponent_clear_attempts = 0
        self.opponent_successful_clears = 0
        self.opponent_failed_clears = 0
        self.Navy_goals = 0
        self.opponent_goals = 0
        self.Navy_timeouts = 0
        self.opponent_timeouts = 0
        self.possessions = 0
        self.Navy_possessions = 0
        self.opponent_possessions = 0
    
    def print(self):
        attrs = vars(self)
        print(', '.join("%s: %s" % item for item in attrs.items()))

    def newPos(self):
        print("Adding new pos")
        
class Possession():
    team = "n/a"
    started_by = ""
    ended_with = ""

In [34]:

games = []


for i in range(len(box_game_urls)):
    
    play_by_play_df = season_play_by_play_df.loc[season_play_by_play_df['game_id'] == i]

    game = Game()

    for j in range(len(play_by_play_df)):
        current_row = play_by_play_df.iloc[j]
        current_description = current_row['description']
        print(current_description)
        list_of_words = current_description.split()



        if (current_description.find('Shot') != -1): 
                search_word = "by"
                game.shots = game.shots + 1

                shooting_team = list_of_words[list_of_words.index(search_word) + 1]

                if shooting_team == "NAVY":

                    game.Navy_shots = game.Navy_shots + 1

                else:

                    game.opponent_shots = game.opponent_shots + 1

        else: 
                game.shots = game.shots



        if (current_description.find('Draw control') != -1): 
                search_word = "by"
                game.draw_controls = game.draw_controls + 1
                game.possessions = game.possessions + 1
                draw_control_team = list_of_words[list_of_words.index(search_word) + 1]

                if draw_control_team == "NAVY":

                    game.Navy_draw_controls = game.Navy_draw_controls + 1
                    game.Navy_possessions = game.Navy_possessions + 1


                else:

                    game.opponent_draw_controls = game.opponent_draw_controls + 1
                    game.opponent_possessions = game.opponent_possessions + 1
        else: 
                game.draw_controls = game.draw_controls




        if (current_description.find('Foul') != -1): 
                search_word = "on"
                game.fouls = game.fouls + 1
                foul_on_team = list_of_words[list_of_words.index(search_word) + 1]

                if foul_on_team == "NAVY":

                    game.Navy_fouls = game.Navy_fouls + 1

                else:

                    game.opponent_fouls = game.opponent_fouls + 1

        else: 
                game.fouls = game.fouls





        if (current_description.find('Free position attempt') != -1): 
                search_word = "for"
                game.free_position_attempts = game.free_position_attempts + 1
                free_position_team = list_of_words[list_of_words.index(search_word) + 1]

                if free_position_team == "NAVY":

                    game.Navy_free_positions = game.Navy_free_positions + 1

                else:

                    game.opponent_free_positions = game.opponent_free_positions + 1

        else: 
                game.free_position_attempts = game.free_position_attempts



        if (current_description.find('Turnover') != -1): 
                search_word = "by"
                game.turnovers = game.turnovers + 1
                turnover_team = list_of_words[list_of_words.index(search_word) + 1]


                if turnover_team == "NAVY":

                    game.Navy_turnovers = game.Navy_turnovers + 1
                    game.opponent_possessions = game_1_opponent_possessions + 1
                    game.possessions = game.possessions + 1

                else:

                    game.opponent_turnovers = game.opponent_turnovers + 1
                    game.Navy_possessions = game.Navy_possessions + 1
                    game.possessions = game.possessions + 1
        else: 
                game.turnovers = game.turnovers



        if (current_description.find('Ground ball pickup') != -1): 
                search_word = "by"
                game.ground_ball_pickups = game.ground_ball_pickups + 1
                ground_ball_pickup_team = list_of_words[list_of_words.index(search_word) + 1]

                if ground_ball_pickup_team == "NAVY":

                    game.Navy_ground_ball_pickups = game.Navy_ground_ball_pickups + 1

                else:

                    game.opponent_ground_ball_pickups = game.opponent_ground_ball_pickups + 1   

        else: 
                game.ground_ball_pickups = game.ground_ball_pickups


        if (current_description.find('Clear attempt') != -1): 
                search_word = "by"
                game.clear_attempts = game.clear_attempts + 1
                clear_attempt_team = list_of_words[list_of_words.index(search_word) + 1]
                pass_or_fail_status = list_of_words[-1]
                #print(pass_or_fail_status)
                if clear_attempt_team == "NAVY":

                    game.Navy_clear_attempts = game.Navy_clear_attempts + 1

                    if pass_or_fail_status == "good.":

                        game.Navy_successful_clears = game.Navy_successful_clears + 1

                    else:
                        game.Navy_failed_clears = game.Navy_failed_clears +1

                else:

                    game.opponent_clear_attempts = game.opponent_clear_attempts + 1   

                    if pass_or_fail_status == "good.":

                        game.opponent_successful_clears = game.opponent_successful_clears + 1

                    else:
                        game.opponent_failed_clears = game.opponent_failed_clears + 1


        else: 
                game.clear_attempts = game.clear_attempts


        if (current_description.find('GOAL') != -1): 
                search_word = "by"
                game.goals = game.goals + 1
                scoring_team = list_of_words[list_of_words.index(search_word) + 1]

                if scoring_team == "NAVY":

                    game.Navy_goals = game.Navy_goals + 1

                else:

                    game.opponent_goals = game.opponent_goals + 1   



        else: 
                game.goals = game.goals



        if (current_description.find('Timeout') != -1): 
                search_word = "by"
                game.timeouts = game.timeouts + 1
                timeout_team = list_of_words[list_of_words.index(search_word) + 1]

                if timeout_team == "NAVY":

                    game.Navy_timeouts = game.Navy_timeouts + 1

                else:

                    game.opponent_timeouts = game.opponent_timeouts + 1   


        else: 
                game.timeouts = game.timeouts

    #games['game_{}'.format(i)] = game
    games.append(game)

Geier, Fiona at goalie for AU.
Harchelroad, Gab at goalie for NAVY.
Draw control by AU Goldblum, Kendall.
Turnover by AU Jade, Izabella (caused by Heyward, Annalise).
Ground ball pickup by NAVY Heyward, Annalise.
Clear attempt by NAVY good.
GOAL by NAVY Victory, Nicole (FIRST GOAL), Assist by Roelofs, Reagan, goal number 15 for season.
Draw control by NAVY Roelofs, Reagan.
GOAL by NAVY O'Sullivan, Andie, Assist by Heyward, Annalise, goal number 27 for season.
Draw control by NAVY Harris, Kayla.
Foul on AU Brennan, Leah.
Shot by NAVY Harris, Kayla, SAVE Geier, Fiona.
GOAL by NAVY Larkin, Kelly, Assist by Victory, Nicole, goal number 49 for season.
Draw control by NAVY Harris, Kayla.
GOAL by NAVY O'Sullivan, Andie, Assist by Victory, Nicole, goal number 28 for season.
Timeout by AU.
Draw control by NAVY Roelofs, Reagan.
Shot by NAVY Heyward, Annalise WIDE.
Foul on AU Aguilar-Gervase, C..
Free position attempt for NAVY.
GOAL by NAVY Heyward, Annalise (FPGOAL) {free position shot}, goal number 22 for season.
Draw control by NAVY Roelofs, Reagan.
Foul on AU Goldblum, Kendall.
GOAL by NAVY Harris, Kayla, goal number 30 for season.
Draw control by NAVY Roelofs, Reagan.
Shot by NAVY Victory, Nicole HIGH.
Turnover by NAVY Larkin, Kelly (caused by Aguilar-Gervase, C.).

NameError: name 'game_1_opponent_possessions' is not defined

In [ ]:
current_game = games[6]

current_game.print()

In [ ]:
print(current_game.opponent_goals)